page-home {
	.home-slider {height:180px; width:100% !important; position:relative}
	.home-slider .swiper-slide{height:100%; width:100% !important; position:relative}
	.home-slider .swiper-slide .text-area{position:absolute; left:4%; bottom:20px; width:92%; text-align:center;}
	.home-slider .swiper-slide .text-area h5{color:#fff; margin:0}
	.home-slider .swiper-slide .text-area p{color:#fff; margin:0; font-size:1.1rem}
	.home-slider .swiper-slide .button{height:2.6rem; letter-spacing: 1px;border-radius: 2px; color:#fff; box-shadow:none; font-size:1.2rem; text-transform:uppercase}
	.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 0px;}
	.swiper-pagination-bullet-active {background: #fff;opacity: 0.7;}
	.home-logo{width:50px}
	
	.trending-now{box-shadow:none; text-align:center}
	.trending-now h2{font-size:2rem;text-transform:uppercase; margin: 20px 0; letter-spacing: 1px; color:#3f3f3f}
	
	.trend-photo{position: relative}
	.trend-photo .button{position: absolute; top:50%; transform: translateY(-50%); right:10px; height:2.6rem; letter-spacing: 1px;border-radius: 2px;  box-shadow:none; font-size:1.2rem; text-transform:uppercase}
}
