page-signup {
.login-bg{background:url('../assets/imgs/login-bg.jpg') no-repeat top center; background-size: cover;}
    .logo {text-align: center; margin-top:25px; margin-bottom:35px;
        img {max-width: 130px;}
      }
    .page-title{text-align:center; color:#fff; margin-bottom:30px; font-size: 1.6rem; font-weight: 400;}
    
	.list {margin-bottom: 0;}

    .item{ background-color: transparent; }
    .list-ios > .item-block:first-child {border-top:0;}
	ion-item.item{padding-left:0; margin-bottom:15px}
	.text-input-ios{margin-left:8px;}


	.dont{color:#fff; font-weight:300; font-size:1.3rem}
	.dont a{text-decoration:none}
	
	input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {color: #fff;}
	input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {color: #fff;}
	input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {color: #fff;}
	input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {color: #fff;}
	ion-input{color: #fff;}
	
	.input-field{background:rgba(255,255,255,0.15); border-radius:50px}
	.input-field ion-label img{width:15px; margin-top:5px}
	.input-field .item-inner{border-bottom:none !important; padding-left: 10px !important}
	.input-field ion-label{margin:7px 0 7px 15px;}
	ion-label[fixed] {-webkit-box-flex: 0;-webkit-flex: 0 0 100px; -ms-flex: 0 0 50px; flex: 0 0 18px; width: 18px; min-width: 15px;  max-width: 20px;}
	.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {border-bottom: none; -webkit-box-shadow:none; box-shadow: none;}
	.remember ion-label{color:#fff}
	.remember ion-checkbox.checkbox{margin-right:8px!important; margin-top:0px!important}
	.remember ion-label.label{margin-top:3px!important; white-space:normal; font-size:1.3rem}
	.or{color:#fff}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md .item-input:last-child{border-bottom:0}
	
	.sign-as-panel{padding:0 20px; margin:0px}
	.sign-as-panel ion-item{margin:0px}
	.sign-as-panel ion-label.label{color:#fff}
	.sign-as-panel .item-ios{padding-left:4px; padding-right:0;}
	.sign-as-panel .item-inner{border-bottom:0 !important; padding-right:0; flex-direction:row-reverse}
	
	
	
	.sign-as-panel ion-col{display:flex !important; justify-content:space-evenly;}
	.sign-as-panel ion-col ion-item{display:inline-block !important; width:auto;}
	.sign-as-panel .item-ios{flex-direction:row-reverse}
	.sign-as-panel .label.label-ios{margin-left:0; margin-right:0}

	.item-ios .radio-ios {margin: 8px 5px 8px 8px;}
    .radio-ios .radio-icon {background:rgba(255,255,255,0.2); border-radius:100%;width: 21px; height: 21px;}
}
